altgraph==0.17.4
dukpy==0.5.0
numpy==2.2.6
packaging==25.0
pybind11==3.0.1
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
PySDL2==0.9.17
pysdl2-dll==2.32.0
setuptools==80.9.0
skia-python==87.9
