pre {
    background-color: gray;
    font-family: Courier;
    white-space: pre;
}
code {
    font-family: Courier;
}
a {
    color: blue;
}
i {
    font-style: italic;
}
b {
    font-weight: bold;
}
small {
    font-size: 90%;
}
big {
    font-size: 110%;
}
abbr {
    font-weight: bold;
    font-variant: small-caps;
}
sup {
    font-size: 50%;
    vertical-align: top;
}
h1 {
    text-align: center;
}
